// Variables
@import 'variables';

// Fonts
@import 'fonts';

// Bulma
@import '~bulma/bulma';

// My styles
.title {
    font-family: $family-secondary
}

.label.required:after {
    content: "*";
    color: #E37400;
    font-size: x-small;
    vertical-align: super;
}
